.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 96%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1000;
}

.website-name {
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    color: white;
}

.main-logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu {
    text-decoration: none;
    color: white;
    font-weight: 1000;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu:hover {
    color: #E6501B;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu-toggle:checked~.nav-menu {
        display: flex;
    }

    .menu-toggle:checked~.hamburger {
        content: x;
    }

    .menu {
        font-size: 18px;
    }


}